.rptdesc {
  margin-left:20px;
  padding: 2px 5px;
  background-color: #fefdf6;
  border-width:1px;
  border-color:gray;
  border-style:solid;
  font-size:90%;
}
.rptcontrols {
  margin-left:20px;
  font-size:90%;
}
