@font-face {
    font-family:'open-sans-regular';
    font-display:auto;
    src: url('/www/fonts/OpenSans-Regular-webfont.eot');
    src: url('/www/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/www/fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'open-sans-bold';
    font-display:auto;
    src: url('/www/fonts/OpenSans-Bold-webfont.eot');
    src: url('/www/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/www/fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

body {
  font-family: open-sans-regular,sans-serif;
  font-size: 16px;
  margin: 10px;
  color: #333;
  background: white;
  line-height: 1.25;
}

p {
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
  font-family: open-sans-regular,sans-serif;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: open-sans-bold,sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: #196F43;
  margin-top: 0;
  margin-bottom: 0.4em;
}